<a href="https://colab.research.google.com/github/profkalinowski/se4ds/blob/main/1_intro_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Engenharia de Software para Ciência de Dados - PUC-Rio
### Introdução a Python - Prof. Marcos Kalinowski (adaptado de material cedido pela Prof. Tatiana Escovedo)

---

*Baseado no tutorial "Learn Python in 5 minutes", disponível em:*

https://medium.com/@peterjaberau/learn-python-in-5-minutes-b10bf6e2cdb9

Outros link recomendados:
* https://docs.python.org/3/tutorial/index.html
* https://www.w3schools.com/python/default.asp

---

Principais  bibliotecas que estudaremos nesta disciplina:
* Manipulação de Dados: **Pandas** e **NumPy**
* Visualização de Dados: **Seaborn** e **Matplotlib**
* Machine Learning: **Scikit-Learn**

Outras IDEs conhecidas (Todas vêm junto com a plataforma Anaconda - https://www.anaconda.com/):
* PyCharm
* Jupyter Notebook
* JupyterLab
* Spyder

# Básico de Python

## Primeiro Programa

In [ ]:
# Isto é um comentário
print("Hello, world!")

Hello, world!

**Observações:**
* Um programa em Python pode ser um único arquivo com a extensão .py ou uma pasta com subpastas e arquivos contendo código Python e outros recursos a serem usados no programa (ex: datasets e imagens). 
* Lembre-se de que todas as vezes que abrir um parênteses, você deverá 
fechá-lo, assim como as aspas. Caso contrário, será exibida uma mensagem de erro pelo interpretador assim que você tentar executar o código. 
* Em Python geralmente não finalizamos as instruções com uso de ponto e vírgula (é permitido mas não é obrigatório). Quando existe a necessidade de colocar mais de uma instrução na mesma linha é obrigatório o ponto e vírgula para informar ao interpretador o início e o fim de cada instrução.


**Recomendações de escrita de código e Linters**
* A forma recomendada de se escrever um programa em Python é definida pelo PEP 8 (https://www.python.org/dev/peps/pep-0008/), o guia de estilos de Python, e pelo PEP 257 (https://www.python.org/dev/peps/pep-0257/), convenções de docstrings (comentários de módulos, funções, classes e métodos que se tornam a propriedade __doc__ desses elementos e aparecem quando invocamos o help deles).
* A existência de um guia de estilos para uma linguagem é uma iniciativa excelente. No entanto, a tarefa de lembrar de todas essas regras e aplicá-las corretamente é repetitiva e, portanto, passível de erros humanos. Para contornar esse problema, a comunidade Python criou programas chamados de **linters**, programas que varrem os códigos-fonte em busca de trechos que estejam em desacordo com os estilos recomendados e que potencialmente apresentem resultados indesejados ou padrões perigosos de código.

## Variáveis

In [ ]:
# Variáveis: Definição e tipos

# Declarando 3 variáveis e atribuindo valores a elas
var_string = "Hello!"
var_number = 9
var_float = 9.0

# Imprimindo os valores das variáveis
print(var_string)
print(var_number)
print(var_float)

# Imprimindo os tipos das variáveis
print(type(var_string))
print(type(var_number))
print(type(var_float))

Hello!
9
9.0
<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:
# Conversões de variáveis

print(var_float)
print(int(var_float))          # Convert to int
print(str(var_float))          # Convert to string

9.0
9
9.0

In [ ]:
# Operações Aritméticas

result = var_float / 3            # Division Operator (/)
remainder = var_float - result    # Subtraction Operator (-)
multiplication = var_float * 5    # Multiplication Operator (*)
power = var_float ** 2            # Power Operator (**)
modulo = var_float % 4            # modulo Operator (%)

print("result = " + str(result))
print("remainder = " + str(remainder))
print("multiplication = " + str(multiplication))
print("power = " + str(power))
print("modulo = " + str(modulo))

result = 3.0
remainder = 6.0
multiplication = 45.0
power = 81.0
modulo = 1.0

In [ ]:
# Incremento e Decremento

var_float -= 2
print("Assignment -= 2 equals " + str(var_float))

var_float += 5
print("Assignment += 5 equals " + str(var_float))

Assignment -= 2 equals 7.0
Assignment += 5 equals 12.0

In [ ]:
# Operadores Booleanos

one = 1
two = 2
three = 3

is_equal = two == three
not_equal = two != three

print(is_equal)
print(not_equal)

False
True

In [ ]:
# Operadores de Comparação

print(one < two < three)

is_greater = three > two
print(is_greater)

True
True

In [ ]:
# Operadores and e or

print((2 > 1) and (3 < 5))
print((2 > 1) and (1 > 3))

print((3 < 5) or (2 > 1))
print((0 > 1) or (0 == -1))

True
False
True
False

## Strings

In [ ]:
# Concatenação

hello = "Hello" # pode ser tanto delimitada por aspas duplas...
world = 'World' #... quanto por aspas simples
hello_world = hello + " " + world

print(hello_world)

Hello World

In [ ]:
# Multiplicação de String por um número

hello = "hello"
ten_of_hellos = hello * 10
print(ten_of_hellos)

hellohellohellohellohellohellohellohellohellohello

In [ ]:
# Indexação

python = "This is a python string!"

# A indexação começa com 0
print(python[2])

# use -1 para pegar a última letra
print(python[-1])

i
!

In [ ]:
# Substrings

python_developer = "Python Developer"

# string[start:end] - end não é incluso
print(python_developer[:6])
print(python_developer[7:])
print(python_developer[4:10])
print(python_developer[:])

Python
Developer
on Dev
Python Developer

In [ ]:
# Operador in

ice_cream = "Ice Cream"

# checa se a string contem "cream"
print("ream" in ice_cream)

True

In [ ]:
# Tamanho

print(len(ice_cream))

9

In [ ]:
# Escaping

print("\"Sweet\"" + ice_cream)
print('\"Sweet\"' + ice_cream)
print("Sweet\n" + ice_cream) # \n = nova linha

"Sweet"Ice Cream
"Sweet"Ice Cream
Sweet
Ice Cream

In [ ]:
# Maiúsculas e Minúsculas

print(ice_cream.lower())
print(ice_cream.upper())

ice cream
ICE CREAM

In [ ]:
# Formatação

name = "Belinha"
integer = 5
decimal = 9.0
print("Hello! My name is %s!\nMy favourite numbers:Integer(%d) and Decimal(%d)" % (name, integer, decimal))
print("Hello! My name is %s!\nMy favourite numbers:Integer(%d) and Decimal(%f)" % (name, integer, decimal))

Hello! My name is Belinha!
My favourite numbers:Integer(5) and Decimal(9)
Hello! My name is Belinha!
My favourite numbers:Integer(5) and Decimal(9.000000)

## Coleções

O Python nos fornece algumas estruturas de dados compostas ou que contenham outros tipos de dados, chamadas estruturas “contêiner” como: dict, list e tuple.

In [ ]:
# Listas (Arrays): Definidas por []
# São sequências mutáveis, normalmente usadas para armazenar coleções de itens

squares = [1, 4, 9, 16, 25]
print(squares)

[1, 4, 9, 16, 25]

In [ ]:
# Operações de Listas

animals = ['elephant', 'lion', 'tiger', "giraffe"]
print(animals)

# incluir 2 itens na lista
animals += ["monkey", 'dog']
print(animals)

# incluir 1 item na lista usando append
animals.append("dino")
print(animals)

['elephant', 'lion', 'tiger', 'giraffe']
['elephant', 'lion', 'tiger', 'giraffe', 'monkey', 'dog']
['elephant', 'lion', 'tiger', 'giraffe', 'monkey', 'dog', 'dino']

In [ ]:
# Itens de uma lista

# substituir 2 itens -- 'lion' e 'tiger' por um item -- 'cat'
animals[1:3] = ['cat']
print(animals)

# remover 2 itens -- 'cat' e 'giraffe' da list
animals[1:3] = []
print(animals)

['elephant', 'cat', 'giraffe', 'monkey', 'dog', 'dino']
['elephant', 'monkey', 'dog', 'dino']

In [ ]:
# Tuplas: Definidas por ()
# São listas imutáveis, não sendo possível adicionar, alterar ou deletar itens de tuplas

alphabet = ('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o',
            'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z')
print(alphabet)

('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z')

In [ ]:
# Dicionários: Definidas por {}
# São coleções desordenadas, mutáveis e indexadas com chaves e valores.
# As chaves de um dicionário precisam únicas e de tipos imutáveis como string, números ou tuplas. 
# Os valores de um dicionário podem ser de qualquer tipo.

# criar e imprimir um dicionário
phone_book = {"John": 123, "Jane": 234, "Jerard": 345}
print(phone_book)

# acessar o valor correspondente à chave "John
print(phone_book["John"])

# ler um valor chave específico, concatenado com uma mensagem
print("Jane's Phone: %s" % (phone_book["Jane"]))

# incluir novo item no dicionário
phone_book["Jill"] = 345
print(phone_book)

# remover par chave-valor de phone_book
del phone_book["John"]
print(phone_book)

# checar se phone_book contém o item "Jane"
print("Jane" in phone_book)

{'John': 123, 'Jane': 234, 'Jerard': 345}
123
Jane's Phone: 234
{'John': 123, 'Jane': 234, 'Jerard': 345, 'Jill': 345}
{'Jane': 234, 'Jerard': 345, 'Jill': 345}
True

## Condições

In [ ]:
# Expressões booleanas

name = "John"
age = 17

# checa se name é igual a "John" OU age é igual a 17
print(name == "John" or age == 17)

# ordem dos operadores: NOT é o primeiro, em seguida AND, depois OR
print(name == "John" or not age > 16) # V com F
print(name == "John" and not age > 16) # V com F

True
True
False

In [ ]:
# Comandos if, elif e else

if name == "John" or age == 17:
  print("name is %s" %name)
  print("%s is %d years old" %(name, age))

task = ["task1", "task2"]
if len(task) == 0:
  print("List Empty")
elif len(task) == 1:
  print("single record")
else:
  print("length %d" % len(task))

name is John
John is 17 years old
length 2

## Loops

In [ ]:
# Loop for
for i in range(5):
  print(i)

primes = [2, 3, 5, 7]
for i in range(len(primes)):
  print("index %d " % primes[i])

0
1
2
3
4
index 2
index 3
index 5
index 7

In [ ]:
# Loop for usando string

hello_world = "Hello, World!"

# imprimir cada caracter
for ch in hello_world:
  print(ch);

# contar a quantidade de caracteres usando loop
length = 0
for ch in hello_world:
  length += 1;
print("number of characters %d " % length)

H
e
l
l
o
,

W
o
r
l
d
!
number of characters 13

In [ ]:
# Loop While
square = 1

# imprimir de 1 a 10
while square <= 10:
  print(square)
  square += 1

# imprimir de 1 a 100 elevado ao quadrado ** (1, 4, 16...)
number = 1
while square <= 99:
  square = number ** 2
  print("square %d" % square)
  number += 1

1
2
3
4
5
6
7
8
9
10
square 1
square 4
square 9
square 16
square 25
square 36
square 49
square 64
square 81
square 100

In [ ]:
# Break

count = 0

# loop infinito - nunca é False
while True:
  print(count)
  count += 1
  if count >= 5:
    # sai do loop
    break

zoo = ["lion", 'tiger', 'elephant']

# loop infinito - nunca é False
while True:
  # pop: retira e retorna o último item da lista
  animal = zoo.pop()
  print(animal)
  if animal == "lion":
    break;

0
1
2
3
4
elephant
tiger
lion

In [ ]:
# Continue

for i in range(5):
  if i == 3:
     # pula o resto do código e move para a próxima iteração do loop
     continue
  print(i)

# imprimir somente os ímpares
for x in range(10):
  if (x % 2) == 0:
    # pula print(x) para este loop
      continue
  print("event number %d" % x)

0
1
2
4
event number 1
event number 3
event number 5
event number 7
event number 9

## Funções

In [ ]:
# Definição de funções

# definir uma função chamada hello_world
def hello_world():
  print("Hello, World!")

# chamar a função 5 vezes
for i in range(5):
  hello_world()

Hello, World!
Hello, World!
Hello, World!
Hello, World!
Hello, World!

In [ ]:
# Funções com parâmetros e argumentos

# x é um parâmetro
def foo(x):
  print("x = %d" % x)

# passar 5 como parâmetro da função. Aqui, 5 é um argumento.
foo(5)

x = 5

In [ ]:
# Funções com retorno

# função que retorna a soma de dois números
def sum_two_numbers(a, b):
  return a + b

c = sum_two_numbers(3, 12)
print("c = %d" % c)

c = 15

In [ ]:
# Função com parâmetros default

def multiply_by(a, b=2):
  return a * b

print(multiply_by(3, 47))

# podemos passar apenas um argumento
print(multiply_by(3))

141
6

## Classes e Objetos

In [ ]:
# Definição de classes - Exemplo 1

class MyClass:
  variable1 = 1
  variable2 = 1

  def foo(self):
      # (explcaremos self depois)
      print("Hello from function foo")

# a variável my_object guarda um objeto da classe "MyClass", que contém variable1, variable2 e foo
my_object = MyClass()
# a variável my_object1 guarda OUTRO objeto da classe "MyClass", que contém variable1, variable2 e foo
my_object1 = MyClass()

# mudar o valor de variable2 em my_object, my_object1 continua inalterado
my_object.variable2 = 3

print(my_object.variable1)
print(my_object1.variable1)

print(my_object.variable2)
print(my_object1.variable2)

my_object.foo()
my_object1.foo()

1
1
3
1
Hello from function foo
Hello from function foo

In [ ]:
# Definição de classes - Exemplo 2

class Car:
  color = ""

  def description(self):
    description_string = "This is a %s car." % self.color
    return description_string

car1 = Car()
car2 = Car()
car1.color = "blue"
car2.color = "red"

print(car1.description())
print(car2.description())

This is a blue car.
This is a red car.

In [ ]:
# Parâmetro self (Não vamos utilizar em ML)

# "self" é o primeiro parâmetro passado para qualquer método de classe
# Python usará "self" para referenciar o objeto que está sendo criado
class Calculator:
  current = 5

  def add(self, amount):
    # não podemos chamar a variável "current" sem "self" porque "current" é uma variável da classe Calculator
    return self.current + amount;

total = Calculator()
print("total = %d" % total.add(3))

total = 8

In [ ]:
# Método  __init__ (Não vamos utilizar em ML)

class Truck:

  # __init__ é usado para inicializar os objetos criados pela Classe
  def __init__(self):
    self.color = "black"

truck = Truck()
print(truck.color)

black

In [ ]:
# Herança (Não vamos utilizar em ML)

class Parent():
  def func_override(self):
      print("override from parent")

  def func_implicit(self):
      print("implicit from parent")

  def func_altered(self):
      print("altered from parent")


class Child(Parent):
  def func_override(self):
      print("override from child")

  def func_altered(self):
      print("altered from child")
      # super chama a mesma função da classe pai
      super(Child, self).func_altered()

parent = Parent()
child = Child()

parent.func_override()
parent.func_implicit()
parent.func_altered()

child.func_override()
child.func_implicit()
child.func_altered()

override from parent
implicit from parent
altered from parent
override from child
implicit from parent
altered from child
altered from parent

## Leitura e escrita de arquivos

In [ ]:
zoo = ['lion', "elephant", 'monkey']

# Escrita de um arquivo

# Abrir o arquivo em modo de escrita ("w" para escrita)
f = open("file.txt", "w")

# escrever no arquivo
for i in zoo:
  f.write(i + "\n")

# fechar o arquivo
f.close()


# Leitura de um arquivo

# Abrir o arquivo em modo de leitura ("r" para leitura)
f = open("file.txt", "r")

# ler apenas a primeira linha
for line in f.readlines():
  print(line)
  break

# fechar o arquivo
f.close()

lion

## SQL com SQLite

In [ ]:
# importação da bibloteca do SQLite
import sqlite3

# criar conexão (irá criar ou abrir o arquivo .db do banco de dados)
con = sqlite3.connect("carsdb.db")

# o cursor permite percorrer os registros de um banco de dados
c = con.cursor()

# criar uma tabela
c.execute("create table if not exists cars(brand text, price text)")

# inserir registros na tabela
c.execute("insert into cars (brand, price) values ('bmw', 3000)")
c.execute("insert into cars (brand, price) values ('ethios', 1000)")

# executar select * na tabela
result = c.execute("select * from cars")

# imprimir a primeira linha do select
print(result.fetchone())

# PARA CASA: Como imprimir TODAS as linhas da tabela?

# fechar a conexão
con.close()

('bmw', '3000')